<div class="userItem">
    <div class="chatCard">
            <div class="chatImage">
                    <img src="/assets/images/modular2.svg" alt="">
                </div>
    <div class="chatInfo">
            <div class="chatName">
                    <span class="userName">
                    <b>{{user.username}}</b> 
                   </span>
                    <span class="status" >
                       <i> {{user.status}} </i>
             </span>
             </div>
             <div class="chatPreview">preview of message</div>
    </div>
    
    </div>
  </div>