<!-- ==== ABOUT ==== -->
    <div id="home" name="home">
        <div class="container">
            <div class="row">
                <header class="clearfix centered top20">
                    <img class="large-logo" src="assets/images/solid-border.svg" alt="Sole logo">
                </header>
                <h2 class="centered">What is Sole?</h2>
                <hr>
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <p class="justified">Sole is a new project taking place at <a
                            href="https://ingenieriainformatica.uniovi.es" target="_blank">EII</a>.
                        The project aims to adapt the <a href="https://solid.mit.edu" target="_blank">Solid
                            platform</a>, for building a messagin application
                        resulting in true data ownership as well as improved privacy.
                    </p>
                </div>
                <div class="col-md-2"></div>
            </div>
            <!-- row -->
        </div>
    </div>
    <!-- container -->

        <!-- ==== WHATS HAPPENING ==== -->
        <div id="happening" class="sections" name="happening">
            <div class="container">
                <div class="row">
                    <h1 class="centered">Documentation</h1>
                    <hr>
                    <div class="col-lg-12 callout centered"> <img src="assets/images/documentation.svg" alt="" class="offers documentation">
                        
                    </div>
                    <p class="centered">
                        You can access the project documentation following this <a href="./docs.html" target="_blank">link</a>.
                    </p>
                </div>
                
            </div>
        </div>
        <!-- container -->

    <!-- ==== SERVICES ==== -->
    <div id="about" class="sections" name="about">
        <div class="container">
            <div class="row">
                <h1 class="centered">What does Sole offer?</h1>
                <hr>
                <p class="centered">
                    Solid (derived from "social linked data") is a proposed set of conventions
                    and tools for building decentralized social applications based on Linked
                    Data principles. Solid is modular and extensible and it relies as much as
                    possible on existing <a href="https://w3.org/" target="_blank">W3C</a> standards and protocols.
                </p>
                <p class="centered">
                    At a glance, here is what Solid offers...
                </p>

                <div class="col-lg-4 callout centered"> <img src="assets/images/ownership.svg" alt="" class="offers">
                    <h3>True data ownership</h3>
                    <p class="justified">Users should have the freedom to choose where their
                        data resides and who is allowed to access it. By decoupling content from the application itself,
                        users are now able to do so.</p>
                </div>
                <div class="col-lg-4 callout centered"> <img src="assets/images/modular.svg" alt="" class="offers">
                    <h3>Modular design</h3>
                    <p class="justified">Because applications are decoupled from the data they
                        produce, users will be able to avoid vendor lock-in, seamlessly
                        switching between apps and personal data storage servers, without losing
                        any data or social connections.</p>
                </div>
                <div class="col-lg-4 callout centered"> <img src="assets/images/reuse.svg" alt="" class="offers">
                    <h3>Reusing existing data</h3>
                    <p class="justified">Developers will be able to easily innovate by creating
                        new apps or improving current apps, all while reusing existing data
                        that was created by other apps.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- container -->



    <!-- ==== TEAM MEMBERS ==== -->
    <div id="team" class="sections" name="team">
        <div class="container">
            <div class="row centered">
                <h2 class="centered">Meet Our Team</h2>
                <hr>
                <div class="row">
                    <div class="col-lg-4 centered top20"> <img class="img img-circle" src="assets/images/portraits/ana.svg"
                            height="120px" width="120px" alt="">
                        <h4><b>Ana</b></h4>
                        <p>As the project director, but also as a web developer, Ana is involved in the
                            overall planning and evolution of Sole.</p>
                        <a href="https://github.com/timbl/" target="_blank"><i class="fa fa-github icon-color"></i></a>
                    </div>
                    <div class="col-lg-4 centered top20"> <img class="img img-circle" src="assets/images/portraits/pablo.svg"
                            height="120px" width="120px" alt="">
                        <h4><b>Pablo</b></h4>
                        <p>Pablo is the project manager, but he also keeps an eye on the research aspects of the
                            project.</p>
                    </div>
                    <div class="col-lg-4 centered top20"> <img class="img img-circle" src="assets/images/portraits/astrid.svg"
                        height="120px" width="120px" alt="">
                    <h4><b>Astrid</b></h4>
                    <p>Astrid is also the project manager, but she also keeps an eye on the research aspects of the
                        project.</p>
                </div>
                </div>
            </div>
            <div class="row centered top20">

                <div class="col-lg-4 centered top20"> <img class="img img-circle" src="assets/images/portraits/nuria.svg"
                        height="120px" width="120px" alt="">
                    <h4><b>Nuria</b></h4>
                    <p>Nuria has a background as W3C staff member, and developer of many RDF-based systems, including
                        query systems.</p>
                    <a href="https://github.com/ericprud" target="_blank"><i class="fa fa-github icon-color"></i></a>
                </div>

                <div class="col-lg-4 centered top20"> <img class="img img-circle" src="assets/images/portraits/javi.svg"
                        height="120px" width="120px" alt="">
                    <h4><b>Javi</b></h4>
                    <p>Javi is an independent developer who likes to collaborate with us on Sole.</p>
                    <a href="https://github.com/melvincarvalho" target="_blank"><i
                            class="fa fa-github icon-color"></i></a>
                </div>

                <div class="col-lg-4 centered top20"> <img class="img img-circle" src="assets/images/portraits/emilio.svg"
                        height="120px" width="120px" alt="Ruben">
                    <h4><b>Emilio</b></h4>
                    <p>Emilio is a Professor of Semantic Web technology at IDLab, Ghent University – imec, and a
                        recurring visitor to MIT/CSAIL.</p>
                    <a href="https://github.com/emiliocortina" target="_blank"><i
                            class="fa fa-github icon-color"></i></a>
                </div>
            </div>
        </div>
        <!-- row -->
    </div>




    <!-- ==== CONTACT ==== -->
    <div id="contact" class="sections" name="contact">
        <div class="container">
            <div class="row">
                <h2 class="centered">Contact Us</h2>
                <hr>
                <div class="col-md-4 centered"> <i class="fa fa-map-marker fa-2x icon-color"></i>
                    <p>EII<br>
                        Calle Valdés Salas, 11
                        <br>
                        33007 Oviedo, Asturias</p>
                </div>
                <div class="col-md-4 centered">
                    <a href="https://github.com/Arquisoft/dechat_en2b" alt="Sole on github" title="Sole on Github">
                        <i class="fa fa-github fa-2x icon-color"></i>
                        <br />
                        github.com/Arquisoft/dechat_en2b
                    </a>
                </div>
                <div class="col-md-4 centered"> <a href="#contact" alt="@Sole twitter account"
                        title="@SolidMIT twitter account">
                        <i class="fa fa-2x fa-twitter icon-color"></i>
                        <br />
                        @Sole
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- container -->

    <div id="footerwrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12"> <span class="copyright">Copyright &copy; 2019 The Solid Project.</span> </div>
              
            </div>
        </div>
    </div>

