
<div class="bodyWrapper">
  <div class="recentChatsWrapper">
          <h3>Recent Chats</h3>
      <div class="recentChats">
          
          
          <div class="chatCard">
              <div class="chatImage">
                  <img src="/assets/img/modular2.svg" alt="">
              </div>
              <div class="chatInfo">
                  <div class="chatName">Emilio Cortina</div>
                  <div class="chatPreview">mira la mata full de mango</div>
              </div>
          </div>

          <div class="chatCard">
              <div class="chatImage">
                  <img src="/assets/img/portraits/ana.svg" alt="">
              </div>
              <div class="chatInfo">
                  <div class="chatName">Ana Junquera</div>
                  <div class="chatPreview">mira la mata full de mango</div>
              </div>
          </div>

          <div class="chatCard">
              <div class="chatImage">
                  <img src="/assets/img/portraits/javi.svg" alt="">
              </div>
              <div class="chatInfo">
                  <div class="chatName">Javi Garcia</div>
                  <div class="chatPreview">mira la mata full de mango</div>
              </div>
          </div>

          <div class="chatCard">
              <div class="chatImage">
                  <img src="/assets/img/portraits/nuria.svg" alt="">
              </div>
              <div class="chatInfo">
                  <div class="chatName">Nuria San Emeterio</div>
                  <div class="chatPreview">mira la mata full de mango</div>
              </div>
          </div>

          <div class="chatCard">
              <div class="chatImage">
                  <img src="/assets/img/portraits/pablo.svg" alt="">
              </div>
              <div class="chatInfo">
                  <div class="chatName">Pablo Fernández</div>
                  <div class="chatPreview">mira la mata full de mango</div>
              </div>
          </div>

          <div class="chatCard">
              <div class="chatImage">
                  <img src="/assets/img/portraits/astrid.svg" alt="">
              </div>
              <div class="chatInfo">
                  <div class="chatName">Astrid Gamoneda</div>
                  <div class="chatPreview">mira la mata full de mango</div>
              </div>
          </div>
          <div class="chatCard">
              <div class="chatImage">
                  <img src="/assets/img/modular2.svg" alt="">
              </div>
              <div class="chatInfo">
                  <div class="chatName">Emilio Cortina</div>
                  <div class="chatPreview">mira la mata full de mango</div>
              </div>
          </div>

          <div class="chatCard">
              <div class="chatImage">
                  <img src="/assets/img/portraits/ana.svg" alt="">
              </div>
              <div class="chatInfo">
                  <div class="chatName">Ana Junquera</div>
                  <div class="chatPreview">mira la mata full de mango</div>
              </div>
          </div>

          <div class="chatCard">
              <div class="chatImage">
                  <img src="/assets/img/portraits/javi.svg" alt="">
              </div>
              <div class="chatInfo">
                  <div class="chatName">Javi Garcia</div>
                  <div class="chatPreview">mira la mata full de mango</div>
              </div>
          </div>

          <div class="chatCard">
              <div class="chatImage">
                  <img src="/assets/img/portraits/nuria.svg" alt="">
              </div>
              <div class="chatInfo">
                  <div class="chatName">Nuria San Emeterio</div>
                  <div class="chatPreview">mira la mata full de mango</div>
              </div>
          </div>

          <div class="chatCard">
              <div class="chatImage">
                  <img src="/assets/img/portraits/pablo.svg" alt="">
              </div>
              <div class="chatInfo">
                  <div class="chatName">Pablo Fernández</div>
                  <div class="chatPreview">mira la mata full de mango</div>
              </div>
          </div>

          <div class="chatCard">
              <div class="chatImage">
                  <img src="/assets/img/portraits/astrid.svg" alt="">
              </div>
              <div class="chatInfo">
                  <div class="chatName">Astrid Gamoneda</div>
                  <div class="chatPreview">mira la mata full de mango</div>
              </div>
          </div>
      </div>
  </div>
  
  <div class="currentChat">
      <div class="currentChatHeader">
          <div class="currentChatImageWrapper">
              <img src="/assets/img/modular2.svg" alt="" class="currentChatImage">
          </div>
          <div class="currentChatHeaderTitle">
              <h3>Chat title</h3>
          </div>
      </div>
      <div class="currentChatContent">
          <div class="message received">
              <div class="messageContent">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptates, dicta natus
                  repudiandae perspiciatis quas sit pariatur nesciunt iure doloremque?
              </div>
              <div class="messageTime">12:32</div>
          </div>

          <div class="message sent">
              <div class="messageContent">
                  Q siiii
              </div>
              <div class="messageTime">12:40</div>
          </div>

          <div class="message received">
              <div class="messageContent">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptates, dicta natus
                  repudiandae perspiciatis quas sit pariatur nesciunt iure doloremque?
              </div>
              <div class="messageTime">12:32</div>
          </div>

          <div class="message sent">
              <div class="messageContent">
                  Q siiii
              </div>
              <div class="messageTime">12:40</div>
          </div>

          <div class="message received">
              <div class="messageContent">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptates, dicta natus
                  repudiandae perspiciatis quas sit pariatur nesciunt iure doloremque?
              </div>
              <div class="messageTime">12:32</div>
          </div>

          <div class="message sent">
              <div class="messageContent">
                  Q siiii
              </div>
              <div class="messageTime">12:40</div>
          </div>
          <div class="message received">
              <div class="messageContent">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptates, dicta natus
                  repudiandae perspiciatis quas sit pariatur nesciunt iure doloremque?
              </div>
              <div class="messageTime">12:32</div>
          </div>

          <div class="message sent">
              <div class="messageContent">
                  Q siiii
              </div>
              <div class="messageTime">12:40</div>
          </div>

          <div class="message received">
              <div class="messageContent">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptates, dicta natus
                  repudiandae perspiciatis quas sit pariatur nesciunt iure doloremque?
              </div>
              <div class="messageTime">12:32</div>
          </div>

          <div class="message sent">
              <div class="messageContent">
                  Q siiii
              </div>
              <div class="messageTime">12:40</div>
          </div>

          <div class="message received">
              <div class="messageContent">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptates, dicta natus
                  repudiandae perspiciatis quas sit pariatur nesciunt iure doloremque?
              </div>
              <div class="messageTime">12:32</div>
          </div>

          <div class="message sent">
              <div class="messageContent">
                  Q siiii
              </div>
              <div class="messageTime">12:40</div>
          </div>

      </div>
      <form action="" class="currentChatInput">
          <input type="text" name="" id="inputMessage">
          <input type="submit" value="↩︎" id="submitMessage">
      </form>

  </div>

</div>

