html {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

video {
    max-width: 100%;
    max-height: 100%;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 0.3em;
}

/* Track */
::-webkit-scrollbar-track {
    opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(211, 211, 211);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.048);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(211, 211, 211);;
}


.bodyWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3em 2em 0;
    justify-content: center;
}

h3 {
    font-family: "Circular";
    margin: 0;
}

#userListTitle {
    font-family: "Circular";
    padding: 0.7em 0.5em 0.7em;
    text-align: center;
}

.deleteConversation {
    margin: 0px 0px 0px 3em;
    padding: 0.5em 1em;
}

.recentChatsWrapper{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 16px rgba(54, 54, 54, 0.185);
    margin: 0 2em;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    max-width: 50em;
}

.chatList {
    lex-shrink: 5;
    overflow-y: scroll;
}

.chatName {
    font-family: "Circular";
}

.chatImage {
    margin-right: 1em;
}

.chatImage img {
    height: 3em;
    width: 3em;
}

.currentChat {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 16px rgba(54, 54, 54, 0.185);
    padding: 2em;
    height: 80vh;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60vw;
    max-width: 50em;
    margin-bottom: 2em;
}
.currentChatHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 2em;
    height: auto;
}

.currentChatHeader img {
    object-fit: cover;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgba(54, 54, 54, 0.185);
    margin-right: 2em;
}

.currentChatContent {
    flex-grow: 1;
    padding: 1em;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.message {
    width: 16em;
    border: 1px solid rgb(233, 233, 233);
    box-shadow: 0px 0px 6px rgba(83, 83, 83, 0.13);
    border-radius: 10px;
    padding: 0.5em 1em;
    margin-bottom: 1.5em;
    text-align: left;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.messageContent a img {
    width: 100%;
    border-radius: 5px;
}

.messageContent a img:hover {
    opacity: 0.7;
}

.messageContent {
    margin: 0.5em 0;
}

.messageTime {
    text-align: end;
}

.received {
    align-self: flex-start;
}

.sent {
    align-self: flex-end;
    background-color: #FDC02F;
    color: white;
}


.currentChatInput{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2em 3em 0;
    justify-content: center;
}

.modal-content {
    border: none;
    padding: 0 1.3em;
}

.modal-content * {
    border: none;
}

.modal-title {
    font-family: Circular;
    font-size: 1.8em;
    text-align: center;
}

.chooserItem img{
    margin: 0 1em;
    height: 2.5em;
    width: 2.5em;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgba(54, 54, 54, 0.185);
}

.btn-primary {
    border-radius: 30px;
    background-color: #FDC02F;
}

.btn-secondary {
    border-radius: 30px;
    background-color: #555555;
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.modal-body p {
    color: #A9A9A9;
    text-align: left;
    margin-left: 1.7em;
}

.addMoreFriendsBanner {
    margin-top: 1.2em;
}


.chooserItem {
    border-radius: 9999px;
    padding: 0.3em 1.2em;
    margin: 0.5em;
    cursor: pointer;
}


.chooserItem * {
    cursor: pointer;
}



#inputMessage {
    height: 2em;
    border: 1px solid rgb(233, 233, 233);
    box-shadow: 0px 0px 6px rgba(54, 54, 54, 0.185);
    border-radius: 9999px;
    flex-grow: 1;
    margin: 0 2em;
    padding: 0.5em 1.5em;
    max-width: 30em;
}

#inputMessage:focus, #inputMessage:hover {
    outline: none;
    box-shadow: 0px 0px 10px rgba(54, 54, 54, 0.25);
}

#submitMessage {
    border: none;
    height:  2em;
    width: 2em;
    background: none;
    margin: 0;
    align-self: flex-end;
    border: none;
    background-image: url(/assets/images/sendMessage.svg);
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgba(54, 54, 54, 0.185);
    align-self: center;
    min-width: 2em;
}

#submitMessage:hover {
    opacity: 0.85;
}

#friendSelector{
    width: 100px;
}

#newChatButton {
    width: 2.2em;
    height: 2.2em;
    background: none;
    margin: 0.5em 2em 1em;
    align-self: flex-end;
    border: none;
    background-image: url(/assets/images/newChat.svg);
    background-repeat: no-repeat;
}

#attachFile {
    border: none;
    height:  2em;
    width: 2em;
    background: none;
    margin: 0.5em;
    align-self: flex-end;
    border: none;
    background-image: url(/assets/images/attachment.svg);
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgba(54, 54, 54, 0.185);
    align-self: center;
    min-width: 2em;
}

#attachFile:hover {
    opacity: 0.85;
}

#newFriendButton {
    width: 2.2em;
    height: 2.2em;
    background: none;
    margin: 0 2em 1.5em;
    border: none;
    background-image: url(/assets/images/newFriend.svg);
    background-repeat: no-repeat;
}

.checked{
    background-color: #FDC02F;
}

#newChatButton:hover {
    opacity: 0.85;
}

 @media(max-width: 1200px) {
     .bodyWrapper {
         margin: 0;
     }

     .currentChatHeader {
         padding: 2em 5vw;
     }

     .currentChat, .recentChatsWrapper{
         width: 100%;
         padding: 0 1em;
         margin-bottom: 1em;
     }
     .currentChat {
         border-radius: 0;
     }

     .recentChatsWrapper{
         margin: 1em;
     }

     .currentChatContent {
         width: 100%;
     }

     .currentChatInput{
         margin: 2em 0.3em;
     }
}

@media(max-width: 420px) {

    #inputMessage {
        margin: 0 0.5em 0 0;
        max-width: 70vw;
    }
}
