nav a.navbar-brand{
  font-family: "Lato";
  color: #777;
  font-weight: 500;
}

.navbar-brand img {
  height: 2em;
  margin-right: 1.2em;
}

.profile-menu img {
  height: 2.3em;
  cursor: pointer;
}

nav {
  box-shadow: 0px 0px 8px rgba(75, 75, 75, 0.199);
}

nav a {
  color: #333333;
}
