<div class="userList" >
    <h3>Recent Chats</h3>
 <!-- LOADING IMAGE -->
 <div class="loading-image" *ngIf="loadingFriends">
    <i class="fas fa-circle-notch fa-4x fa-spin"></i>
  </div>

    <div class="recentChats"  *ngIf="!loadingFriends">

        <app-useritem
        [user]=user *ngFor="let user of dummyusers">
        </app-useritem>
        
        <div *ngIf="dummyusers.length == 0" class="newChatBanner">
            <img id="newChatBannerImg" src="../../assets/images/newChatBanner.svg" alt="">
            <p>Press the button below to create a new chat.</p>
        </div>
        
      </div>
    
  </div> 

