h3 {
    font-family: "Circular";
    padding: 1em 2em 1em;
    text-align: center;
}


.recentChatsWrapper h3{
    margin: 1em 2em 1em;
    text-align: center;
}

.recentChats {
    padding: 0 2em 2em;
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

 @media(max-width: 800px) {
     .recentChats{
         width: 100%;
         border-radius: 0;
         padding: 0 1em;
     }
}
