html {
    overflow-y: hidden;
    overflow-x: hidden;
}

.bodyWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5em 2em;
}

h3 {
    margin: 0;
}

.recentChats {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 16px rgba(54, 54, 54, 0.185);
    padding: 2em;
    margin-right: 2em;
    height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chatCard {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1.8em 0;
}

.chatImage {
    margin-right: 1em;
}

.chatImage img {
    object-fit: cover;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgba(54, 54, 54, 0.185);
}

.currentChat {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 16px rgba(54, 54, 54, 0.185);
    padding: 2em;
    height: 80vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.currentChatHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.currentChatHeader img {
    object-fit: cover;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgba(54, 54, 54, 0.185);
    margin-right: 2em;
}

.currentChatContent {
    flex-grow: 1;
}

.currentChatInput{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 3em;
}

#inputMessage {
    height: 2em;
    border: 1px solid rgb(233, 233, 233);
    box-shadow: 0px 0px 6px rgba(54, 54, 54, 0.185);
    border-radius: 9999px;
    flex-grow: 1;
    margin-right: 2em;
}

#submitMessage {
    border: none;
    height:  2em;
    width: 2em;
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgba(54, 54, 54, 0.185);
    background-color: #ffc107;
}