<div [ngClass]="{'buzzing': buzzing==true}" class="userItem">
  <div class="chatCard" (click)="changeUser()">
    <div class="chatImage">
      <img [src]="chat.img" alt="">
    </div>
    <div class="chatInfo">
      <div class="chatName">
        {{chat.name}}
      </div>
      <div class="lastMessag chatPreview">
        <span *ngIf="ownLastMessage"><img width="10px" src="assets/icons/checked.svg"></span>
        {{lastMessage}}
        <span *ngIf="newMessagesCount>0" class="badge badge-pill badge-warning">{{newMessagesCount}}</span>
      </div>
    </div>
    <!--DROPDOWN-->
    <div class="sole-dropdown dropdown" id="chatOptions">
      <button type="button" class="btn "  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
        <img src="assets/icons/icon-dropdown.svg" />
      </button>
      <div class="dropdown-menu sole-dropdown dropdown-menu-right">
        <div *ngIf="chat.isGroup">
          <label for="leaveGroup{{chat.direction}}" class="sendFilesLabel" style="cursor: pointer">Leave group</label>
          <button type="button" id="leaveGroup{{chat.direction}}" style="display: none"  (click)="leaveGroup($event)"></button>
        </div>
        <div *ngIf="!chat.isGroup">
          <label for="deleteChat" class="sendFilesLabel" style="cursor: pointer">Delete chat</label>
          <button type="button" id="deleteChat" style="display: none" (click)="deleteChat($event)"></button>
        </div>
      </div>
    </div>
    <!--END DROPDOWN-->
  </div>
</div>
