/* You can add global styles to this file, and also import other style files */

.standardTextInput {
  height: 2em;
  border: 1px solid rgb(233, 233, 233) !important;
  box-shadow: 0px 0px 6px rgba(54, 54, 54, 0.185);
  border-radius: 9999px;
  margin: 0.7em 0.5em 1.4em;
  padding: 0.5em 1.5em;
}

.sb-navbar .navbar-brand img {
  height: 3.5em;
  margin-right: 1em;
}

.nav-item {
  margin: 0.2em 1em;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, .5);
  border-color: rgba(0, 0, 0, 0);
}

.sb-navbar .navbar-toggler {
  color: #212529;
  border: 0;
  padding: 1rem;
}

.homeLogo{
  height: 25em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button.wide-button {
  font-size: 1em;
  cursor: pointer;
  padding: 0.5em 2em;
  border-radius: 30px;
  border: none;
  background-color: #ffc107;
  color: white;
  font-family: Circular, sans-serif;
  box-shadow: 0px 0px 8px rgba(54, 54, 54, 0.185);
}

button.wide-button:hover {
  background-color: rgb(255, 208, 62);
}

button.wide-button:disabled {
  background-color: #cbcbcb;
  color: #333333;
  cursor: not-allowed;
}

input[type=text].wide-text {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #89969F;
  font-size: 14px;
  color: #666;
}


/* Styling custom dropdown */

/* This selector is for the whole control, not the dropdown itself */
.ng-select.login-select {

}

/* This selector is for the actual dropdown container (aka border, arrow, etc) */
.ng-select.login-select .ng-select-container {
  border-radius: 30px;
  border: none;
  padding: 0.5em 1em;
  box-shadow: 0px 0px 8px rgba(54, 54, 54, 0.185);
}
.ng-select.login-select.ng-select-opened>.ng-select-container {
  border-radius: 30px;
  border: none;
  padding: 0.5em 1em;
  box-shadow: 0px 0px 8px rgba(54, 54, 54, 0.185);
}


.ng-select.login-select.ng-select-single .ng-select-container {
  height: 48px;
}

/* This selector is for the dropdown selection items container */
.ng-select.login-select .ng-dropdown-panel {
  border-radius: 0 0 30px 30px;
  border: none;
  padding: 0.5em 1em;
  box-shadow: 0px 0px 8px rgba(54, 54, 54, 0.185);
  animation: 1s;
}



.ng-select.login-select .ng-input input {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #666;
  margin-top: 6px;
}

/* This selector is for the dropdown arrow */
.ng-select.login-select .ng-arrow:after {

}



@font-face {
  font-family: "Circular";
  src: url(/assets/fonts/CircularStd-Black.otf);
}

@font-face {
  font-family: "Lato";
  src: url(/assets/fonts/Lato-Regular.ttf);
}
